#board {
  max-width: 100vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  margin: 2rem 1rem;
}

@media (min-width: 767px) {
  #board {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1023px) {
  #board {
    grid-template-columns: repeat(4, 1fr);
  }
}
